services:
  mysql:
    image: mysql:8
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: reservoir_db
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  config-server:
    build: ./config-server
    container_name: config-server
    ports:
      - "9999:9999"
    depends_on:
      - mysql

  eureka-server:
    build: ./discovery-server-eureka
    container_name: eureka-server
    ports:
      - "8080:8080"
    depends_on:
      - config-server

  reservoir-service:
    build: ./reservoir-service
    container_name: reservoir-service
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/reservoir_db
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_CONFIG_URI: http://config-server:9999
    depends_on:
      - eureka-server
      - config-server
      - mysql

  distribution-service:
    build: ./distribution-service
    container_name: distribution-service
    ports:
      - "8083:8083"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/reservoir_db
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_CONFIG_URI: http://config-server:9999
    depends_on:
      - eureka-server
      - reservoir-service
      - config-server
      - mysql

  gateway:
    build: ./GATEWAY
    container_name: gateway
    ports:
      - "9095:9095"
    environment:
      SPRING_CONFIG_URI: http://config-server:9999
    depends_on:
      - eureka-server
      - reservoir-service
      - distribution-service
      - config-server

volumes:
  mysql-data:
