version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: reservoir_db
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  eureka-server:
    image: eureka-server
    container_name: eureka-server
    ports:
      - "8080:8080"
    depends_on:
      - mysql

  reservoir-service:
    image: reservoir-service
    container_name: reservoir-service
    ports:
      - "8081:8081"
    depends_on:
      - eureka-server
      - mysql

  distribution-service:
    image: distribution-service
    container_name: distribution-service
    ports:
      - "8083:8083"
    depends_on:
      - eureka-server
      - reservoir-service
      - mysql

  gateway:
    image: gateway
    container_name: gateway
    ports:
      - "9095:9095"
    depends_on:
      - eureka-server
      - reservoir-service
      - distribution-service

volumes:
  mysql-data:
